@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');
body,html {
  margin: 0;
  padding: 0;
  font-family: "McLaren",cursive !important;
  height:'100% !important';
}

code {
  font-family: "McLaren", cursive;
}
